<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form method="post" action="/submit" enctype="multipart/form-data">
			  <input type="text" name="headline" value="Headline" id="headlineID"><br>
			  <input type="text" name="author" value="Your Name (Optional)" id="authorID"><br>
			  <input type="text" name="etching" value="Your Etching/Story" id="story"><br>
			  <input type="file"  name="image" />
			  <input type="submit" value="Submit form" id="submitButton" />
			</form>
  </body>
</html>
