#mystories {
    border-bottom: 0em;
    background-color: #0086b2;
    text-shadow: none;
    font: 30px JosefinSlab, serif;
    padding-top: 1em;
}
#page-toggle {
    background-color: #4dabca;
    height: 2em;
    width: inherit;
    margin-top: 1em;
    margin-left:2em;
}
h1 {
    color: #ffffff;
    font-weight: normal;
}

body{
    background-color: #0086b2;
    height: 10em;
}

.ui-content{
   background-color: #0086b2;
    text-shadow: none;
    font: 30px JosefinSlab, serif;
    padding-top: 2em;
    height: 15em;
}
@font-face{

font-family:JosefinSlab;
 src:url(../fonts/JosefinSlab-Regular.ttf);

}
@font-face{

font-family:JosefinSlabBold;
 src:url(../fonts/JosefinSlab-Bold.ttf);

}